/* Desktop View */

@media screen and (min-width: 768px) {
    #hamburger {
        display: none; 
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    #primary-nav {
        display: flex; 
        background: none;
    }

    #primary-nav ul {
        display: flex; 
    }
    #temples-grid {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }
}