/* Desktop View */

@media screen and (min-width: 768px) {
 
#menu {
    display: none; 
}

   nav {
        display: flex; 
        max-height: none; 
        background: none;
    }

.navigation {
    flex-direction: row;
  }

  .header-container {
      padding: 0;
  }

  /* Gallery Grid for Large Screens */
  .gallery {
      grid-template-columns: repeat(3, 1fr); 
  }
}