:root {
    --primary-color: #2B2D42; 
    --secondary-color: #ffffff;
    --accent-color: #ff69b4;
    --nav-hover: #FDFFFC;
    --text-color: #333;
    --bg-color: #f4f4f4;
    --font-main: 'Play', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

#primary-nav {
    display: none; 
    flex-direction: column;
    background-color: #333;
}

/* Class added by JS to show the menu */
#primary-nav.open {
    display: flex; 
}

#primary-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#primary-nav ul li a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

#primary-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#primary-nav ul li a:hover, 
#primary-nav ul li a.active { 
    background-color: var(--nav-hover);
    color: var(--text-color);
}


/* Main Content */
main {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

main h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 0.5rem;
}


/* Temple Grid Layout */
#temples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Temple Card */
#temples section {
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

#temples section:hover {
  transform: scale(1.02);
}

/* Temple Text */
#temples h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

#temples p {
  margin: 0.25rem 0;
  font-size: 0.95rem;
}

/* Temple Images */
#temples img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}